.container { position: relative; width: 50%; }

.image { display: block; width: 100%; height: auto; }

.overlay { position: absolute; bottom: 100%; left: 0; right: 0; background-color: #0000007a; overflow: hidden; width: 100%; height: 0; -webkit-transition: 0.5s ease; transition: 0.5s ease; }

.container:hover .overlay { bottom: 0; height: 100%; }

.btn { color: white; font-size: 20px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.sp { font-size: 30px; }
/*# sourceMappingURL=style.css.map */