.container {
    position: relative;
    width: 50%;
    border-radius: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #0000007a;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    text-align: center;
    border-radius: 20px;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.btn {
    color: white;
    font-size: 22px;
    position: absolute;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
    }
}

.sp {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    border: none;
    top: 40%;
    transform: translate(-50%, -100%);
}
@keyframes bar {
   
    100% {
        background-position: 20.8%;
    }
}

.bars {
    margin-top: 50px;
    height: 50px;
    width: 300px;
    background-color: green;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        #333333 25%,
        rgba(51, 51, 51, 0.5) 25%,
        rgba(51, 51, 51, 0.5) 50%,
        #333333 50%,
        #333333 75%,
        rgba(51, 51, 51, 0.5) 75%
    );
    background-color: gray;
    background-size: 32px 32px;
    animation: bar 1s linear infinite;
}
